<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <title>Mongo Scrape</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
</head>

<style>
    body {
        background-image: url("/assets/img/nightsky.jpg");
        background-size: cover;
        height: 100%;
        overflow: scroll;
        background-repeat: no-repeat;
        color:white;
    }
</style>

<body>

    {{{ body }}}

</body>

</html>