  <div class="jumbotron">
      <div class="text-center">
          <h1>Science!</h1>
          <h2>Check out all of the latest articles in the scientific community.</h2>
      </div>
<nav class="navbar navbar-dark bg-dark">
   <a class="navbar-brand" href="#">Mongo Scrape</a>
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Saved Articles</a>
    </div>
     <form class="form-inline">
    <button id="scrapeBtn" class="btn btn-sm btn-outline-secondary" type="button">Scrape New Articles</button>
  </form>
</nav>
    <div id="wrapper">
      <h1>Article Scraper</h1>
      <h2><i>Save or add a comment to an article!</i></h2>
      <div id="articles"></div>
      <div id="notes"></div>
    </div>